aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.6
ecdsa==0.14.1
idna==3.1
idna-ssl==1.1.0
multidict==5.1.0
pyasn1==0.4.8
pycparser==2.20
python-dotenv==0.15.0
python-jose==3.2.0
rsa==4.7.2
six==1.15.0
snitun==0.20
typing-extensions==3.7.4.3
yarl==1.6.3
